:root {
  --color-1: #ff00ff;
  --color-2: #cc0066;
  --color-3: #00ffcc;
  --color-4: #0066ff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: sans-serif;
  color: #777;
  padding: 3rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    z-index: 100;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
    outline-offset: 1rem; }
    .composition__photo--p1 {
      top: -3rem;
      left: 0rem; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0rem; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      outline: 0.6rem solid rgba(0, 128, 0, 0.8);
      transform: scale(1.2) translateY(-2rem);
      -webkit-transform: scale(1.2) translateY(-2rem);
      -moz-transform: scale(1.2) translateY(-2rem);
      -ms-transform: scale(1.2) translateY(-2rem);
      -o-transform: scale(1.2) translateY(-2rem);
      z-index: 200; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95); }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    font-size: 7rem;
    letter-spacing: 2rem;
    font-weight: 500;
    display: inline-block;
    transition: all .2s ease;
    animation: fromleft 1s ease;
    -webkit-animation: fromleft 1s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease; }
  .heading-primary--sub {
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 4rem;
    animation: fromright 1s ease;
    -webkit-animation: fromright 1s ease;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease; }

.heading-secendary {
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  display: inline-block;
  color: transparent;
  cursor: pointer;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  font-size: 3rem; }
  .heading-secendary:hover {
    transform: scale(1.2) skewX(7deg) skewY(5deg);
    -webkit-transform: scale(1.2) skewX(7deg) skewY(5deg);
    -moz-transform: scale(1.2) skewX(7deg) skewY(5deg);
    -ms-transform: scale(1.2) skewX(7deg) skewY(5deg);
    -o-transform: scale(1.2) skewX(7deg) skewY(5deg); }

.heading-tertiary {
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  display: inline-block;
  color: transparent;
  font-size: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-huge {
  margin-top: 8rem; }

@keyframes fromleft {
  0% {
    opacity: 0;
    transform: translateX(-12rem);
    -webkit-transform: translateX(-12rem);
    -moz-transform: translateX(-12rem);
    -ms-transform: translateX(-12rem);
    -o-transform: translateX(-12rem); }
  80% {
    opacity: 1;
    transform: translateX(2rem);
    -webkit-transform: translateX(2rem);
    -moz-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    -o-transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0); } }

@keyframes fromright {
  0% {
    opacity: 0;
    transform: translateX(12rem);
    -webkit-transform: translateX(12rem);
    -moz-transform: translateX(12rem);
    -ms-transform: translateX(12rem);
    -o-transform: translateX(12rem); }
  80% {
    opacity: 1;
    transform: translateX(-2rem);
    -webkit-transform: translateX(-2rem);
    -moz-transform: translateX(-2rem);
    -ms-transform: translateX(-2rem);
    -o-transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0); } }

@keyframes frombottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    -webkit-transform: translateY(3rem);
    -moz-transform: translateY(3rem);
    -ms-transform: translateY(3rem);
    -o-transform: translateY(3rem); }
  80% {
    opacity: 1;
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0); } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding: 1.3rem 2.3rem;
  border: none;
  border-radius: 10rem;
  position: relative;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  display: inline-block;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: frombottom 1s ease;
  -webkit-animation: frombottom 1s ease; }

.btn:hover {
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4); }
  .btn:hover::after {
    transform: scaleX(1.7) scaleY(1.4);
    -webkit-transform: scaleX(1.7) scaleY(1.4);
    -moz-transform: scaleX(1.7) scaleY(1.4);
    -ms-transform: scaleX(1.7) scaleY(1.4);
    -o-transform: scaleX(1.7) scaleY(1.4);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(-0.5rem);
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  -o-transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  z-index: -1;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem; }

.btn--green {
  font-size: 2rem;
  background-color: #28b485;
  color: #fff; }
  .btn--green::after {
    background-color: #28b485; }

.btn__text {
  text-transform: uppercase;
  color: green;
  padding: 1rem;
  border-bottom: 2px solid green;
  text-decoration: none; }
  .btn__text:hover {
    color: #fff;
    background-color: #7ed56f; }

.btn__card {
  font-size: 2rem;
  font-weight: 100; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;
  position: relative; }
  .card__side {
    height: 52rem;
    width: 100%;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer; }
    .card__side--front {
      color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0); }
  .card__image {
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    overflow: hidden;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-size: cover; }
    .card__image--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/nat-5.jpg); }
    .card__image--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/nat-6.jpg); }
    .card__image--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/nat-7.jpg); }
  .card__heading {
    position: absolute;
    font-size: 3rem;
    text-transform: uppercase;
    display: inline-block;
    text-align: right;
    top: 12rem;
    left: 7rem;
    width: 70%; }
    .card__heading-span {
      padding: 1rem 2rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      margin: 0 auto;
      list-style: none;
      width: 80%; }
      .card__details ul li {
        color: #777;
        padding: 1.2rem;
        text-align: center; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #999; }
  .card__cta {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price--only {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .card__price--value {
    color: #fff;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }

.form {
  backface-visibility: hidden; }
  .form__h2 {
    font-size: 4rem; }
  .form__input {
    width: 80%;
    height: 4rem;
    border: none;
    padding-left: 2rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border-bottom: 3px solid transparent;
    display: block; }
    .form__input:focus {
      outline: none;
      border-bottom: 3px solid green; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input::-webkit-input-placeholder {
      color: #777; }
  .form__label {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    display: block;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__group--radio {
    width: 49%;
    display: inline-block;
    margin-bottom: 3rem; }
  .form__radio--input {
    display: none; }
  .form__radio--label {
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    padding-left: 4.5rem; }
  .form__radio-button {
    width: 3rem;
    height: 3rem;
    border: 5px solid #28b485;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 0; }
    .form__radio-button::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      background-color: #28b485;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transition: all .2s;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      opacity: 0; }
  .form__radio--input:checked ~ .form__radio--label .form__radio-button::after {
    opacity: 1; }

.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
  transform: skewX(-12deg);
  -webkit-transform: skewX(-12deg);
  -moz-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  -o-transform: skewX(-12deg); }
  .story__paragraph {
    font-size: 1.4rem; }
  .story__image {
    height: 100%;
    backface-visibility: hidden;
    transform: translateX(-4rem) scale(1.3);
    -webkit-transform: translateX(-4rem) scale(1.3);
    -moz-transform: translateX(-4rem) scale(1.3);
    -ms-transform: translateX(-4rem) scale(1.3);
    -o-transform: translateX(-4rem) scale(1.3);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    backface-visibility: hidden; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    float: left;
    backface-visibility: hidden;
    transform: skewX(12deg) translateX(-3rem);
    -webkit-transform: skewX(12deg) translateX(-3rem);
    -moz-transform: skewX(12deg) translateX(-3rem);
    -ms-transform: skewX(12deg) translateX(-3rem);
    -o-transform: skewX(12deg) translateX(-3rem);
    position: relative;
    overflow: hidden; }
  .story__text-box {
    transform: skewX(12deg);
    -webkit-transform: skewX(12deg);
    -moz-transform: skewX(12deg);
    -ms-transform: skewX(12deg);
    -o-transform: skewX(12deg); }
  .story__figcap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    -o-transform: translate(-50%, 20%);
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    backface-visibility: hidden; }
  .story:hover .story__figcap {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-4rem) scale(1);
    -webkit-transform: translateX(-4rem) scale(1);
    -moz-transform: translateX(-4rem) scale(1);
    -ms-transform: translateX(-4rem) scale(1);
    -o-transform: translateX(-4rem) scale(1);
    filter: blur(0.2rem) brightness(80%);
    -webkit-filter: blur(0.2rem) brightness(80%); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  cursor: pointer; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 1rem 1.5rem 1rem rgba(0, 0, 0, 0.2); }

.footer {
  background-color: #777;
  padding: 10rem 0 20rem 0; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__copyright {
    color: #fff;
    font-size: 1.3rem;
    display: inline-block;
    border-top: 1px solid #fff;
    padding-top: 2rem;
    float: right;
    text-justify: center;
    width: 80%; }
  .footer__navigation {
    color: #fff;
    display: inline-block;
    border-top: 1px solid #fff;
    padding-top: 2rem;
    width: 80%;
    float: left; }
  .footer__list {
    list-style: none; }
  .footer__items {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem; }
    .footer__items:not(:last-child) {
      margin-right: 1rem; }
  .footer__link {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-shadow: 0.5rem 0.5rem 0.5rem black; }
    .footer__link:hover {
      color: #28b485;
      transform: scale(1.5) translateY(-0.5rem);
      -webkit-transform: scale(1.5) translateY(-0.5rem);
      -moz-transform: scale(1.5) translateY(-0.5rem);
      -ms-transform: scale(1.5) translateY(-0.5rem);
      -o-transform: scale(1.5) translateY(-0.5rem); }

.row {
  max-width: 110rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem*2)) / 3); }
  .row .col-2-of-3 {
    width: calc(2*(100% - (6rem*2)) / 3)6rem; }
  .row .col-1-of-4 {
    width: calc((100% - (6rem*3)) / 4); }
  .row .col-2-of-4 {
    width: calc(2*(100% - (6rem*3)) / 4)6rem; }
  .row .col-3-of-4 {
    width: calc(3*(100% - (6rem*3)) / 4)12rem; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
  background-size: cover;
  height: 95vh;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }
  @media only screen and (max-width: 50em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      height: 80vh; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      height: 60vh; } }
  .header__logobox {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo {
    height: 4rem; }
  .header__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    top: 40%;
    text-align: center; }

.navigation__check {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 6rem;
  right: 6rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 500;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  transition: all .4s;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 400;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s; }

.navigation__nav {
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  width: 0%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 450;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  text-transform: uppercase; }
  .navigation__item:not(:last-child) {
    margin-bottom: 2rem; }
  .navigation__item span {
    font-size: 3rem;
    margin-right: 2rem; }

.navigation__link {
  border-radius: .5rem;
  text-decoration: none;
  display: inline-block;
  padding: .5rem 3rem;
  color: #fff;
  font-size: 3rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem; }
  .navigation__link:hover {
    background-position: 100%;
    color: #28b485;
    transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem); }

.navigation__check:checked ~ .navigation__background {
  transform: scale(80);
  -webkit-transform: scale(80);
  -moz-transform: scale(80);
  -ms-transform: scale(80);
  -o-transform: scale(80); }

.navigation__check:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  visibility: visible; }

.navigation__icon {
  margin-top: 3.5rem;
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #000;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__check:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__check:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg); }

.navigation__check:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg); }

.popup {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__box {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1); }
  .popup__box {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: table;
    overflow: hidden;
    border-radius: 3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3;
    -ms-border-radius: 3;
    -o-border-radius: 3;
    transform: translate(-50%, -50%) scale(0.5);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    -moz-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s; }
  .popup__left {
    width: 33.33333%;
    padding: 1rem;
    display: table-cell; }
  .popup__right {
    width: 66.66666%;
    padding: 1rem 2rem;
    display: table-cell;
    vertical-align: middle; }
  .popup__photo {
    width: 100%;
    height: auto;
    display: block; }
  .popup__h3 {
    font-size: 2rem;
    color: #777; }
  .popup__paragraph {
    width: 90%;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid #999;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    text-align: justify; }
  .popup__close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    text-decoration: none;
    font-size: 3rem;
    line-height: 1;
    color: #777; }
    .popup__close:hover {
      color: green; }

.section-about {
  padding: 25rem 0;
  margin-top: -20vh;
  background: #f7f7f7; }

.section-feature {
  padding: 15rem 0 20rem 0;
  height: 60rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg);
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg); }
  .section-feature > * {
    transform: skewY(7deg);
    -webkit-transform: skewY(7deg);
    -moz-transform: skewY(7deg);
    -ms-transform: skewY(7deg);
    -o-transform: skewY(7deg); }

.section-book {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../images/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: .5rem;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem; }
  .book__form {
    width: 50%;
    padding: 5rem; }

.section-stories {
  padding: 10rem 0;
  position: relative; }

.bg__video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: .15; }
  .bg__video--content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.section-tours {
  padding: 20rem 0 15rem 0;
  background-color: #f7f7f7;
  margin-top: -8.2rem; }

.tours__h2 {
  font-size: 4rem; }
